cffi==1.15.0; sys_platform == "linux" and python_version >= "3.7"
cryptography==36.0.2; sys_platform == "linux" and python_version >= "3.7"
importlib-metadata==4.11.3; python_version >= "3.7"
jeepney==0.8.0; sys_platform == "linux" and python_version >= "3.7"
keyring==23.5.0; python_version >= "3.7"
passlib==1.7.4
pycparser==2.21; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "linux" or sys_platform == "linux" and python_version >= "3.7" and python_full_version >= "3.4.0"
pywin32-ctypes==0.2.0; sys_platform == "win32" and python_version >= "3.7"
secretstorage==3.3.1; sys_platform == "linux" and python_version >= "3.7"
typing-extensions==4.1.1; python_version < "3.8" and python_version >= "3.7"
zipp==3.8.0; python_version >= "3.7"
