cffi==1.15.0; sys_platform == "linux" and python_version >= "3.7"
click==8.0.4; python_version >= "3.6"
colorama==0.4.4; python_version >= "3.6" and python_full_version < "3.0.0" and platform_system == "Windows" and python_version < "4.0" or platform_system == "Windows" and python_version >= "3.6" and python_full_version >= "3.5.0" and python_version < "4.0"
cryptography==36.0.1; sys_platform == "linux" and python_version >= "3.7"
importlib-metadata==4.11.1; python_version >= "3.7"
jeepney==0.7.1; sys_platform == "linux" and python_version >= "3.7"
keyring==23.5.0; python_version >= "3.7"
passlib==1.7.4
pycparser==2.21; python_version >= "3.7" and python_full_version < "3.0.0" and sys_platform == "linux" or sys_platform == "linux" and python_version >= "3.7" and python_full_version >= "3.4.0"
pywin32-ctypes==0.2.0; sys_platform == "win32" and python_version >= "3.7"
secretstorage==3.3.1; sys_platform == "linux" and python_version >= "3.7"
toml-sort==0.19.0; python_version >= "3.6" and python_version < "4.0"
tomlkit==0.10.0; python_version >= "3.6" and python_version < "4.0"
zipp==3.7.0; python_version >= "3.7"
